@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Rekap gaji</h2>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                @*                <button type="button" onclick="reloadTable()" class="btn btn-white btn-border btn-round mr-2">Reload Data</button>*@
                <a href="#" class="btn btn-white btn-border btn-round mr-2" hidden>Manage</a>
            </div>
        </div>
    </div>
</div>

<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-12">
            <div class="row">
                <div class="card full-height  col-md-12">
                    <div class="card-header">
                        <div class="card-title">Detail Penggajian</div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <table id="table" class="display">
                                <thead>
                                    <tr>
                                        <td>Bulan</td>
                                        <td>Take Home Pay</td>
                                        <td>Opsi</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="payrollDetailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Rincian Gaji</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>NIK</label>
                            <input type="text" class="form-control" id="nik">
                        </div>
                    </div>
                    <div class="col-md-12" style="overflow-x: hidden;overflow-y: scroll;height:200px;">
                        <p>Penghasilan</p>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Gaji Pokok</label>
                                <input type="text" id="mainSalaryBilling" class="form-control col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Insentif</label>
                                <input type="text" id="insentiveBilling" class="form-control col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Premi Kehadiran</label>
                                <input type="text" id="attendanceBilling" class="form-control col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Overtime</label>
                                <input type="text" id="overtimeBilling" class="form-control col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Lain Lain</label>
                                <input type="text" id="apreciationBilling" class="form-control col-md-6">
                            </div>
                        </div>

                        <p>Potongan</p>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan BPJS TK</label>
                                <input type="text" id="bpjsTkDeduction" class="form-control col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan BPJS KS</label>
                                <input type="text" id="bpjsKesehatanDeduction" class="form-control col-md-6">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan Pensiun</label>
                                <input type="text" id="pensionDeduction" class="form-control col-md-6">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">PPH 21</label>
                                <input type="text" id="pph21" class="form-control col-md-6">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan Lainnya</label>
                                <input type="text" id="anotherDeduction" class="form-control col-md-6">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Biaya Transfer</label>
                                <input type="text" id="transferFee" class="form-control col-md-6">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 ">
                        <div class="form-group row">
                            <label class="col-md-4">Take Home Pay</label>
                            <input type="text" id="takeHomePay" class="form-control col-md-8">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/js/dashboard/index.js"></script>
