<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Detail Penggajian Periode @ViewBag.Period</h2>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <input type="number" id="payrollHistoryId" value="@ViewBag.Id" hidden />
                <button type="button" onclick="resync()" class="btn btn-white btn-border btn-round mr-2">Sinkronisasi</button>
                <button type="button" onclick="showSubmitForm()" class="btn btn-white btn-border btn-round mr-2">Submit</button>
                <button type="button" onclick="downloadBankReport()" class="btn btn-white btn-border btn-round mr-2">Report Bank</button>
                <button type="button" onclick="showDownloadReportForm()" class="btn btn-white btn-border btn-round mr-2">Download</button>
                <button type="button" onclick="showAddPayrollDetailForm()" class="btn btn-white btn-border btn-round mr-2">Upload Gaji</button>
                <button type="button" onclick="reloadTable()" class="btn btn-white btn-border btn-round mr-2">Reload Data</button>
                <a href="#" class="btn btn-white btn-border btn-round mr-2" hidden>Manage</a>
            </div>
        </div>
    </div>
</div>

<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-12">
            <div class="row">
                <div class="card full-height  col-md-12">
                    <div class="card-header">
                        <div class="card-title">Detail Penggajian</div>
                        <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                            <table id="table" class="display">
                                <thead>
                                    <tr>
                                        <td>NIK</td>
                                        <td>Nama</td>
                                        <td>Location</td>
                                        <td>Total</td>
                                        <td>Status</td>
                                        <td>Opsi</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPayrollDetailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Upload Gaji</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-12">Pilih dokumen </label>
                            <input type="file" class="form-control form-control-file" id="fileUpload1" name="fileUpload1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="~/file/TemplateBilling.xlsx" class="btn btn-success pull-left">Download Format Excel</a>
                    <button type="button" class="btn btn-primary" onclick="updatePayrollDetail()">
                        <div class="spinner-border spinner-border-sm"></div>
                        Simpan
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="submitErrorModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Upload Gagal</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-12">Terdapat beberapa masalah ketika mengupload file</label>
                            <p>Silahkan download file berikut untuk melakukan koreksi</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btnDownloadUploadFile" target="_blank" class="btn btn-danger" href="~/file/ErrorUpload.xlsx">Download</a>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="submitModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Submit Gajian</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-12">Apakah ada keterlambatan pengiriman gaji ke bank BCA?</label>
                            <p>apabila iya, secara otomatis gaji pekerja yang menggunakan BCA akan dipotong Rp. 5000,- </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="submit(1)">Ya</button>
                    <button type="button" class="btn btn-success" onclick="submit(0)">Tidak</button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="payrollDetailModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Rincian Gaji</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" id="name" readonly>
                            <input type="text" class="form-control" id="id" hidden>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>NIK</label>
                            <input type="text" class="form-control" id="nik" readonly>
                        </div>
                    </div>
                    <div class="col-md-12" style="overflow-x: hidden;overflow-y: scroll;height:200px;">
                        <p>Penghasilan</p>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Gaji Pokok</label>
                                <input type="text" id="mainSalaryBilling" class="form-control col-md-6" readonly>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Overtime</label>
                                <input type="text" id="overtimeBilling" class="form-control col-md-6" readonly>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Premi Kehadiran</label>
                                <input type="text" id="attendanceBilling" class="form-control col-md-6" readonly>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Rapel</label>
                                <input type="text" id="rapel" class="form-control changeable col-md-6">
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Insentif</label>
                                <input type="text" id="insentiveBilling" class="form-control col-md-6" readonly>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Tunjangan Pulsa</label>
                                <input type="text" id="PulseAllowance" class="form-control col-md-6" readonly>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Apresiasi</label>
                                <input type="text" id="apreciationBilling" class="form-control col-md-6" readonly>
                            </div>
                        </div>


                        <p>Potongan</p>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan BPJS KT</label>
                                <input type="text" id="bpjsTkDeduction" class="form-control col-md-6" readonly>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan BPJS KS</label>
                                <input type="text" id="bpjsKesehatanDeduction" class="form-control col-md-6" readonly>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan Pensiun</label>
                                <input type="text" id="pensionDeduction" class="form-control col-md-6" readonly>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan Absensi</label>
                                <input type="text" id="absentDeduction" class="form-control col-md-6" readonly>
                            </div>
                        </div>


                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">PPH 21</label>
                                <input type="text" id="pph21" class="form-control col-md-6" readonly>
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Potongan Lainnya</label>
                                <input type="text" id="anotherDeduction" class="form-control changeable col-md-6">
                            </div>
                        </div>

                        <div class="col-md-12 ">
                            <div class="form-group row">
                                <label class="col-md-6">Biaya Transfer</label>
                                <input type="text" id="transferFee" class="form-control changeable col-md-6">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 ">
                        <div class="form-group row">
                            <label class="col-md-4">Take Home Pay</label>
                            <input type="text" id="takeHomePay" class="form-control col-md-8" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="updateDetail()" class="btn btn-primary" id="updateBtn">Update</button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloadReportModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4>Download File</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-12">Pilih Distrik</label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <select class="form-control select2modal" id="districtId" style="width:360px">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="downloadReport()">Simpan</button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Kembali</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/js/payrollDetail/index.js"></script>
