@{
    ViewData["Title"] = "Beranda";
}

<div class="text-center">
    <h1 class="display-4">Payroll</h1>
    <p>Selamat Datang di Payroll System PT. MBK</p>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notification.js"></script>